<div class="login-container flex align-items-center justify-content-center min-h-screen surface-ground">
  <p-card styleClass="p-4 shadow-4 w-full md:w-30rem border-round-xl">
    <div class="text-center mb-5">
      <div class="text-900 text-3xl font-medium mb-3">Application Logout</div>
      <span class="text-600 font-medium line-height-3">You have been logged out successfully</span>
    </div>

    <div class="text-center">
      <a class="text-primary font-medium cursor-pointer text-lg" (click)="loginWithOAuth()">
        Click here to login
      </a>
    </div>
  </p-card>
</div>